@import 'helpers/all';
@import 'base/fonts';

$width: 560px;

html {
    height: 100%;
}

body {
    min-width: 320px;
    font-family: $base-font-family;
    font-size: $base-font-size;
    color: $color-text;
    line-height: $base-line-height;
    background-color: $base-bg-color;
    position: relative;
    scroll-behavior: smooth;
    @include smooth-font;
    overflow-x: hidden;
    @include scroll;
    @include flexColumn;

    @include max-screen(1366) {
        font-size: 17px;
    }
}

.wrap {
    height: auto;
    margin: 0;
    padding: 0 0 60px;
    min-height: 100%;
}

input,
textarea,
select {
    @extend %styleInput;
}

select {
    width: 100%;
}

.btn {
    display: block;
    min-width: 250px;
    margin: auto;
    padding: 10px 45px;
    font-family: $f;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0.3px;
    color: #fff;
    text-decoration: none;
    border: none;
    background: linear-gradient(80.23deg, $color-main 1.74%, $color-third 100%);
    box-shadow: 0 5px 10px rgba(196, 80, 146, 0.5);
    border-radius: 20px 5px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    background-position: 0 -30px;

    @include respond-to(xs) {
        min-width: 200px;
        padding: 12px 45px;
    }

    &::before {
        content: '';
        display: block;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        z-index: -1;
        transition: opacity 0.45s;
    }

    &:hover {
        color: #fff;

        &::before {
            opacity: 1;
            background: linear-gradient(
                80.23deg,
                #aa56d8 1.74%,
                $color-third 100%
            );
        }
    }

    &:focus,
    &:active {

        &::before {
            opacity: 1;
            background: linear-gradient(
                81.02deg,
                #aa56d8 1.74%,
                $color-third 100%
            );
        }
    }
} //.btn

.panel {
    border: 0;
    border-radius: $border-radius;
    box-shadow: none;
}

.panel-body {
    margin-top: -10px;
    padding: 40px 60px;
    border: 1px solid #c4c4c4;
    border-top: 0;
    border-radius: 0 0 $border-radius * 2.5 $border-radius * 2.5;

    @include respond-to(xs) {
        padding: 20px 30px;
    }

    &.blue-panel {

        p {
            margin-bottom: 20px;
            font-family: $f-light;
            font-size: 14px;
            text-align: center;

            color: #567486;
        }
    }
}

.panel-title {
    height: 85px;
    line-height: 85px;
    font-family: $f2;
    font-weight: 600;
    font-size: 25px;
    text-align: center;

    @include respond-to(xs) {
        font-size: 23px;
    }
}

.panel-primary {
    max-width: $width;
    margin: auto;

    & > .panel-heading {
        height: 95px;
        padding: 0;
        background-color: transparent;
        border-color: transparent;
        border-radius: $border-radius * 2.5 $border-radius * 2.5 0 0;
        background-image: url('https://flyinsta.ru/img/general/bg/form-header-bg.png');
        @include cover;
    }
}

label {
    color: $gray;
    font-family: $f;
    font-size: 16px;
    font-weight: 400;

    &[for='signupform-acceptrules'] {
        margin-bottom: 20px;
        font-size: 13px;

        a {
            font-size: 13px;
        }
    }
}

a {
    font-family: $f-light;
    font-size: 15px;
    color: #567486;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
        color: darken(#567486, 15%);
    }
}

b {
    font-size: 15px;
    font-family: $f;
    font-weight: 400;
}

.form-control {
    padding-left: 0;
    border: 0;
    border-bottom: 2px solid rgba(86, 116, 134, 0.1);
    border-radius: 0;
    box-shadow: none;

    @include placeholder {
        font-family: $f;
        color: rgba(86, 116, 134, 0.6);
    }

    &:focus {
        border-bottom: 2px solid rgba(86, 116, 134, 0.5);
        box-shadow: none;
    }
}

.has-error .form-control {

    &:focus {
        box-shadow: none;
    }
}

.form-group {

    &:last-child {
        margin-bottom: 0;
    }

    &.field-passwordresetrequestform-email {
        margin-bottom: 30px;
    }
}

.fa {
    font-weight: 300;
    color: rgba(86, 116, 134, 0.6);
}

.g-recaptcha {

    & > div {
        width: 100% !important;
    }
}

.rc-anchor-normal {
    @include respond-to(i5) {
        width: 257px;
    }
}

.field-signupform-verifycode {
    margin-top: -20px;

    .col-xs-12 {
        text-align: center;
        padding: 0 !important;
        border: 0 !important;
        background-color: transparent !important;
    }
}

.cbx-active:focus,
.cbx-active:hover {
    box-shadow: none;
    border-color: $color-border--light;

    &:hover {
        border: 1px solid $color-border--light;
    }
}

.input-group {

    .fa {
        display: none;
    }
}
