---
	title: Попак окна
---

{% extends "layouts/_layout.html" %}

{% block style %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/todc-bootstrap/3.3.7-3.3.13/css/bootstrap.css">
{% endblock %}

{% block content %}

<style>
	.footer {
		margin-top: 0;
	}
	.main {
		padding-top: 93px;
	}
</style>

<!-- begin home -->
<main class="main">

	<div class="container mt-30 mb-30">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h2 class="panel-title">FlyInsta Логин</h2>
			</div>
			<div class="panel-body">

				<form id="login-form" action="/login" method="post">
					<input type="hidden" name="_csrf" value="28SKm1rd2DfO8onaCLyQk_AgzwWen1PRUFsivV9oR829oM_xPPCSA6uG_oBCyfP5phKKTfnnOJYcME7VNi0IlA==">
					<div class="form-group field-loginform-email required">
						<label class="control-label" for="loginform-email">Логин (email)</label>
						<input type="email" id="loginform-email" class="form-control" name="LoginForm[email]" placeholder="Введите email" aria-required="true">

						<p class="help-block help-block-error"></p>
					</div>
					<div class="form-group field-loginform-password required">
						<label class="control-label" for="loginform-password">Пароль</label>
						<input type="password" id="loginform-password" class="form-control" name="LoginForm[password]" placeholder="Введите пароль" aria-required="true">

						<p class="help-block help-block-error"></p>
					</div>
					<div style="color:#999;margin:1em 0">
						<a href="/site/request-password-reset">Забыли пароль?</a>
						<br>


						<b style="color: #555555">Нет аккаунта? </b>
						<a href="/signup">Регистрация</a>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-primary" name="login-button">Логин</button>
					</div>

				</form>
			</div>
		</div>

	</div>

</main>
<!-- end home -->

{% endblock %}
