.error {
	@extend %flexCenter;

	&__icon {
		font-size: 132px;
		color: #d4d4d4;
	}//.error__icon

	&__inner {
		margin: auto;
		text-align: center;
		@include respond-to(sm) {
			padding: 0 10px;
		}
	}//error__title

	&__title {
		margin-bottom: 30px;
		font-family: $f2-bold;
		font-weight: 600;
		font-size: 100px;
		color: $gray--light;
		.fa {
			font-size: 110px;
		}
	}//.error__title

	&__text {line-height: 1.8;}//.error__text

	&__link {
		font-size: 16px;
		color: $color-link;
		&:hover {
			color: $color-link;
			text-decoration: underline;
		}
		@include respond-to(sm) {
			display: block;
		}
	}//.error__link
}//error
