{% set
	priceItems = [
	{
		title: 'Продвижение',
		price: '790'
	},
	{
		title: 'Рассылка в директ',
		price: '990'
	},
	{
		title: 'Работа с комментариями',
		price: '990'
	},
	{
		title: 'Отложенное размещение постов',
		price: '990'
	}
]
%}

{% set
month = [
	{
		title: 'Январь'
	},
	{
		title: 'Февраль'
	},
	{
		title: 'Март'
	},
	{
		title: 'Апрель'
	},
	{
		title: 'Май'
	},
	{
		title: 'Июнь'
	},
	{
		title: 'Июль'
	},
	{
		title: 'Август'
	},
	{
		title: 'Сентябрь'
	},
	{
		title: 'Октябрь'
	},
	{
		title: 'Ноябрь'
	},
	{
		title: 'Декабрь'
	}
]
%}
