{% import "partials/assets/_mixins.html" as mixin %}
{% import "partials/_items.html" as item %}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if title %}{{ title }}{% else %}Template{% endif %}</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>

	<meta name="theme-color" content="#c45092">
	<meta name="msapplication-navbutton-color" content="#c45092">
	<meta name="apple-mobile-web-app-status-bar-style" content="#c45092">

	<link rel="shortcut icon" type="image/x-icon" href="img/general/favicon/favicon.ico" sizes="16x16">
	<link rel="apple-touch-icon" sizes="76x76" href="img/general/favicon/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/general/favicon/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/general/favicon/android-chrome-76x76.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/general/favicon/android-chrome-icon-144x144.png">

	{#{% include "../partials/assets/_media-tags.html" %}#}

	{% block style %}{% endblock %}
	{% block customstyle %}{% endblock %}

</head>
<body class="loading" data-app-name="FlyInsta">

	<!-- begin wrapper -->
	<div class="wrapper {{ wrapperClass }}">
		{% block content %}{% endblock %}
	</div>
	<!-- end wrapper -->

	<!-- begin scripts -->
	{% block scripts %}{% endblock %}
	<script type="text/javascript" src="js/app.js"></script>
	<!-- end scripts -->
</body>
</html>
