<div class="tab__inner tab-bot">
	<div class="tab__left xs-hide">
		<div class="img-container">
			<div class="img-container__bg">
				<img src="img/general/tabs/img-bg-3.svg" alt="bg">
			</div>
			<div class="img-container__img">
				<img src="img/general/tabs/phone-3.png" alt="Телефон">
			</div>
		</div>
	</div>
	<div class="tab__right">

		<div class="info-block">
			<h2 class="h2 title title--border info-block__title">Рассылка в директ</h2>

			<ul class="info-block__list">
				<li class="info-block__item">
					{{ mixin.icon('shield', 'info-block__icon') }}
					<p class="info-block__text">Безопасно осуществляйте массовую рассылку в директ любым категориям пользователей Instagram с нашим сервисом.</p>
				</li>
				<li class="info-block__item">
					{{ mixin.icon('mail', 'info-block__icon') }}
					<p class="info-block__text">Разослать информацию о товарах и услугах, новых предложениях и акциях или просто напомнить о себе, привлечь новую аудиторию подписчиков - позволит планировщик
						<strong>Flyinsta</strong>.</p>
				</li>
			</ul>
		</div>

		<div class="info-text tab-bot__info-text xs-hide">{{ mixin.icon('controls', 'info-text__icon') }} Более 130 фильтров и настроек</div>

		<a class="btn tab-bot__btn xs-hide" href="https://app.flyinsta.ru/signup">Попробовать бесплатно</a>
	</div>
</div>
