<div class="tab__inner tab-bot">
	<div class="tab__left xs-hide">
		<div class="img-container">
			<div class="img-container__bg">
				<img src="img/general/tabs/img-bg-2.svg" alt="bg">
			</div>
			<div class="img-container__img">
				<img src="img/general/tabs/phone.png" alt="Телефон">
			</div>
		</div>
	</div>
	<div class="tab__right">

		<div class="info-block">
			<h2 class="h2 title title--border info-block__title">Лайки и просмотры</h2>

			<ul class="info-block__list">
				<li class="info-block__item">
					{{ mixin.icon('rub', 'info-block__icon') }}
					<p class="info-block__text">Покупка лайков к вашим постам и <br> просмотров для ваших видео.</p>
				</li>
				<li class="info-block__item">
					{{ mixin.icon('cart', 'info-block__icon') }}
					<p class="info-block__text">Добавьте лайки к выбранным постам <br> своего Instagram аккаунта и просмотры к <br> видео выбрав количество и оформив заказ.</p>
				</li>
				<li class="info-block__item">
					{{ mixin.icon('plan', 'info-block__icon') }}
					<p class="info-block__text">Или настройте автодобавление через <br> планировщик</p>
				</li>
			</ul>
		</div>

		<div class="info-text tab-bot__info-text xs-hide">{{ mixin.icon('controls', 'info-text__icon') }} Более 130 фильтров и настроек</div>

		<button class="btn tab-bot__btn xs-hide">Попробовать бесплатно</button>
	</div>
</div>
