<div class="tab__inner tab-bot">
	<div class="tab__left xs-hide">
		<div class="img-container">
			<div class="img-container__bg">
				<img src="img/general/tabs/img-bg-4.svg" alt="bg">
			</div>
			<div class="img-container__img">
				<img src="img/general/tabs/phone-4.png" alt="Телефон">
			</div>
		</div>
	</div>
	<div class="tab__right">

		<div class="info-block">
			<h2 class="h2 title title--border info-block__title">Комментарии</h2>

			<ul class="info-block__list">
				<li class="info-block__item">
					{{ mixin.icon('comment', 'info-block__icon') }}
					<p class="info-block__text">Единый интерфейс для работы со всеми комментариями всех ваших аккаунтов Instagram, которые оставляют другие пользователи.</p>
				</li>
				<li class="info-block__item">
					{{ mixin.icon('window', 'info-block__icon') }}
					<p class="info-block__text">Получайте, просматривайте, отвечайте и удаляйте комментарии в одном окне.</p>
				</li>
			</ul>
		</div>

		<div class="info-text tab-bot__info-text xs-hide">{{ mixin.icon('controls', 'info-text__icon') }} Более 130 фильтров и настроек</div>

		<a class="btn tab-bot__btn xs-hide" href="https://app.flyinsta.ru/signup">Попробовать бесплатно</a>
	</div>
</div>
