$checkbox-transform-window-width: 768px !default;
$checkbox-color-main: $color-accent !default;
$checkbox-color-border: $color-border--light !default;

.checkbox {
    font-size: 14px;
    cursor: pointer;
    @include nosel;

    &:hover {

        .checkbox__box {
            border: 1px solid $color-border;
        }
    }

    &__wrap {
        width: 100%;
        text-align: center;
        @include flexCenter;
    } //bb-checkbox__wrap

    &__dell {
        display: none;
        background-color: rgba(#fff, 0.8);
        @include coverdiv;
        z-index: z(default);

        .icon {
            width: 32px;
            height: 32px;
            fill: $checkbox-color-main;
            @include vcenter;
        }
    } //bb-checkbox__dell

    input {
        display: none;

        &:checked + .checkbox__box {
            // border: 2px solid $checkbox-color-main;
            // background-color: $checkbox-color-main;

            &::before {
                display: block;
            }
        }
    }

    &__box {
        display: inline-block;
        margin-right: 5px;
        width: 18px;
        height: 18px;
        border: 1px solid $checkbox-color-border;
        border-radius: 2px;
        position: relative;
        top: 4px;

        &::before {
            content: '';
            width: 7px;
            height: 11px;
            border: solid green;
            border-width: 0 2px 2px 0;
            position: absolute;
            left: 5px;
            top: 1px;
            transform: rotate(45deg);
            display: none;
        }
    } //bb-checkbox__box

    &--pseudo {

        &.is-checked {

            .checkbox__box {
                border: 2px solid $checkbox-color-main;
                background-color: $checkbox-color-main;

                &::before {
                    display: block;
                }
            }
        }
    } //bb-checkbox--pseudo

    &--big {

        &:hover {

            .checkbox__box {
                border-color: $color-border;
            }
        }

        input {

            &:checked + .checkbox__box {
                background-color: $checkbox-color-main;
                border-color: transparent;

                &::after {
                    left: auto;
                    right: 0;
                    border-color: transparent;
                }
            }
        }

        .checkbox__box {
            display: block;
            width: 40px;
            background-color: $color-border;
            @include br(10px);

            &::after {
                content: '';
                display: block;
                width: 16px;
                height: 16px;
                background-color: #fff;
                @include br(50%);
                @include tr;
                position: absolute;
                top: 2%;
                left: 0px;
                height: 96%;
            }

            &::before {
                color: #fff;
                left: 4px;
            }
        }
    } //bb-checkbox--big

    &--radio {
        background-color: transparent;

        &:hover {

            input {

                &:checked + .checkbox__box {
                    border-color: lighten($checkbox-color-main, 7%);

                    &::before {
                        background-color: lighten($checkbox-color-main, 7%);
                    }
                }
            }
        }

        input {

            &:checked + .checkbox__box {
                border: 2px solid $checkbox-color-main;
                background-color: transparent;

                &::before {
                    display: block;
                    // background-color: $checkbox-color-main;
                }
            }
        }

        .checkbox__box {
            display: inline-block;
            border-radius: 50%;
            background-color: transparent;

            &::before {
                display: none;
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                border: none;
                background-color: $checkbox-color-main;
                @include vcenter;
            }
        }
    } //bb-checkbox--radio

    &--inline {
        border: 1px solid $color-border;
        border-right-color: transparent;
        position: relative;
        z-index: z(default);

        &:first-child {
            border-radius: 4px 0 0 4px;
        }

        &:last-child {
            border-right: 1px solid $color-border;
            border-radius: 0 4px 4px 0;
        }

        &:hover {
            border-color: darken($checkbox-color-border, 10%);
            border-right-color: transparent;
            color: #000;

            & + .checkbox--inline {
                border-left-color: darken($checkbox-color-border, 10%);
            }

            &:last-child {
                border-right: 1px solid darken($checkbox-color-border, 10%);
            }
        }

        &.is-checked {
            color: #fff;
            background-color: $checkbox-color-main;

            &:hover {
                color: #fff;
            }

            & + .checkbox--inline,
            & + .checkbox--inline.is-checked {
                border-left-color: #fff;
            }
        }

        input {

            &:checked + .checkbox__box {
                background-color: #c4c4c4;
            }
        }

        .checkbox__box {
            display: none;
        }
    } //bb-checkbox--inline
} //bb-checkbox
