.img-container {
    position: relative;
    @include nosel;

    &__bg,
    &__img {
        @include centre;
    }

    &__bg {
        min-width: 450px;

        @include respond-to(sm) {
            min-width: 330px;
        }
    } //.img-container__bg

    &__img {
        width: 260px;

        @include respond-to(sm) {
            min-width: 220px;
        }
    } //.img-container__img

    &__link {
        padding-left: 40px;
        color: #fff;
        font-family: $f-bold;
        font-size: 20px;
        position: absolute;
        right: 85px;
        bottom: -200px;

        &::before {
            content: '';
            display: block;
            @include sprite('mail');
            @include centre('y');
            left: 0;
        }

        &::after {
            content: '';
            display: block;
            width: calc(100% - 40px);
            height: 3px;
            border-radius: 15px;
            background-color: #fff;
            position: absolute;
            left: 40px;
            bottom: -5px;
        }
    } //.img-container__link
} //.img-container

.box-icon-move {
    position: relative;

    @include respond-to(xs) {
        display: none;
    }

    &__map {
        width: 105%;
        padding-top: 90%;
        background: url('../img/general/hero/vector.svg') 0 95% no-repeat;
        position: absolute;
        top: -30px;
        left: 35px;
        z-index: -2;

        @include respond-to(md) {
            display: none;
            // padding-top: 100%;
            // background-position: 110% 40%;
            // background-size: contain;
        }
    } //.box-icon-move__map

    &__way {
        position: absolute;
        top: -30px;
        left: 0;
        z-index: -2;

        @include respond-to(md) {
            display: none;
        }

        #motionPath {
            opacity: 0;
            visibility: hidden;
        }
    } //.box-icon-move__way

    &__icon {
        // display: block;
        // align-items: center;
        // justify-content: center;
        // width: 70px;
        // height: 70px;
        background-color: #fff;
        // border: 1px solid $gray--light;
        // border-radius: 50%;
        // position: absolute;
        fill: #fff;

        @include respond-to(md) {
            display: none;
        }

        .icon {
            width: 28px;
            height: 28px;
            fill: $gray--light;
            @include centre;
        }

        &--user {
            top: 11px;
            left: 6px;

            .icon {
                width: 27px;
                height: 27px;
            }
        } //.box-icon-move--user

        &--like {
            top: 68px;
            left: 580px;

            .icon {
                top: 53%;
            }

            &.is-animate {
                animation: like 1s linear 0s normal both;
            }
        } //.box-icon-move--like

        &--comment {
            top: 465px;
            left: 119px;

            .icon {
                width: 27px;
                height: 27px;
                left: 52%;
                top: 52%;
            }
        } //.box-icon-move--comment
    } //.box-icon-move__icon
} //.box-icon-move

// @keyframes like {

//     0% {
//         transform: translate(0);
//     }

//     25% {
//         transform: translate(-122px, -80px);
//     }

//     50% {
//         transform: translate(-217px, -96px);
//     }

//     75% {
//         transform: translate(-415px, -94px);
//     }

//     to {
//         transform: translate(-574px, -57px);
//     }
// }
