.wrapper {

    &.menu-open {

        .header {

            &::after {
                opacity: 1;
            }
        }

        .menu {

            &__list {
                opacity: 1;
                visibility: visible;
                position: relative;
                z-index: initial;
            }

            &__item {
                opacity: 1;
                visibility: visible;
                @include trfY(0);
            }
        }
    }
}

.menu {
    width: 100%;
    text-align: center;
    position: relative;
    @include flexCenter;
    justify-content: center;

    @include respond-to(xs) {
        // display: none;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 100;
    }

    &__list {
        height: 93px;
        line-height: 93px;
        @include flexCenter;

        @include respond-min(xs) {
            background-image: none !important;
        }

        @include respond-to(xs) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            z-index: -1;
            transition: opacity 0.45s cubic-bezier(0.7, 0, 0.3, 1);
            height: auto;
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    &__item {
        margin: 0 30px;
        text-align: center;
        position: relative;

        &::after {
            content: '';
            display: none;
            height: 5px;
            width: 100%;
            border-radius: 15px;
            background-color: $color-accent;
            position: absolute;
            left: 0;
            bottom: 0;

            @include respond-to(xs) {
                display: none !important;
            }
        }

        @include respond-to(xs) {
            width: 100%;
            margin-bottom: 2px;
            background: rgba(255, 255, 255, 0.8);

            opacity: 0;
            visibility: hidden;
            @include trfY(40px);
            transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);

            @for $i from 1 through 5 {

                &:nth-child(#{$i}) {
                    transition-delay: $i / 15 + s;
                }
            }
        }

        &.is-active {

            &::after {
                display: block;
            }
        }

        &.line {
            bottom: -36px;
        }

        &--social {
            padding: 30px 0;
        }
    }

    &__link {
        @include respond-to(xs) {
            display: block;
            padding: 30px 0;
            font-size: 18px;
            font-family: $f-medium;
        }
    }

    .social {

        ul {
            justify-content: center;
        }

        a {
            background-color: $color-accent;
        }

        i {
            color: #fff;
        }
    }
} //.menu

.hamburger {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;

    @include respond-to(sm) {
        display: block;
    }

    span {
        position: relative;
        display: block;
        margin-top: -9px;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: $border-radius;

        &::after,
        &::before {
            content: '';
            height: 2px;
            width: 100%;
            background-color: #fff;
            border-radius: $border-radius;
            backface-visibility: hidden;
            transition: all 0.3s;
            position: absolute;
            left: 0;
            top: 9px;
        }

        &::after {
            top: 18px;
        }
    }

    &.on {

        span {
            background-color: transparent;

            &::before {
                transform: rotate(45deg) translate(-1px, 0px);
            }

            &::after {
                transform: rotate(-45deg) translate(6px, -7px);
            }
        }
    }
} //.hamburger
