.cart {
  width: 1em;
  height: 1em;
  fill: initial;
}
.close--bold {
  width: 1em;
  height: 1em;
  fill: initial;
}
.close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.filter-btn {
  width: 1em;
  height: 1em;
  fill: initial;
}
.location {
  width: 1em;
  height: 1em;
  fill: initial;
}
.plus--bold {
  width: 1em;
  height: 1em;
  fill: initial;
}
.plus {
  width: 1em;
  height: 1em;
  fill: initial;
}
.rating--gray {
  width: 5.26em;
  height: 1em;
  fill: initial;
}
.rating {
  width: 5.26em;
  height: 1em;
  fill: #fac917;
}
.search {
  width: 1em;
  height: 1em;
  fill: initial;
}
